<div class="tab" data-group="main" data-tab="falemos">
    <div id="falemos-config-scene" class="falemos-nohidden">
        <header class="form-header falemos-config-header"><h3 class="form-header">&nbsp;&nbsp;&nbsp;&nbsp;{{localize "FALEMOS.General"}}</h3></header>
        <!-- enable/disable falemos -->
        <div class="form-group">
            <button type="button" onclick="game.falemos.sceneConfigToMacro('{{sceneid}}')"><i class="fas fa-file-export"></i>{{localize "FALEMOS.ExportConfigToMacro"}}</button> 
            <p class="notes">{{localize "FALEMOS.ExportConfigToMacroNotes"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "FALEMOS.EnableText"}}</label>
            <input type="checkbox" name="flags.falemos.config.enable" data-dtype="Boolean" {{checked falemosconfig.enable}}>
            <p class="notes">{{localize "FALEMOS.EnableNotes"}}</p>
        </div>
        <!-- ocultar controles -->
        <div class="form-group">
            <label>{{localize "FALEMOS.HideNavigation"}}</label>
            <input type="checkbox" name="flags.falemos.config.hide.navigation" data-dtype="Boolean" {{checked falemosconfig.hide.navigation}}>
        </div>    
        <div class="form-group">
            <label>{{localize "FALEMOS.HideControls"}}</label>
            <input type="checkbox" name="flags.falemos.config.hide.controls" data-dtype="Boolean" {{checked falemosconfig.hide.controls}}>
        </div>    
        <div class="form-group">
            <label>{{localize "FALEMOS.HidePlayers"}}</label>
            <input type="checkbox" name="flags.falemos.config.hide.players" data-dtype="Boolean" {{checked falemosconfig.hide.players}}>
        </div>    
        <div class="form-group">
            <label>{{localize "FALEMOS.HideSidebar"}}</label>
            <input type="checkbox" name="flags.falemos.config.hide.sidebar" data-dtype="Boolean" {{checked falemosconfig.hide.sidebar}}>
        </div>
        <div class="form-group">
            <label>{{localize "FALEMOS.HideHotbar"}}</label>
            <input type="checkbox" name="flags.falemos.config.hide.hotbar" data-dtype="Boolean" {{checked falemosconfig.hide.hotbar}}>
        </div>
    </div>

        {{#each users }}
            <header class="form-header falemos-config-header"><h3 class="form-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ this.name }}</h3></header>
            
            <div class="form-group initial-position">
                <label>{{localize "FALEMOS.CameraPositionText"}}</label>
                <div class="form-fields">
                    <label>x (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.x" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'x'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>y (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.y" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'y'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.Width'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.width" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'width'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <button class="capture-current" type="button" title="{{localize 'FALEMOS.CaptureCurrentCameraPositions'}}" data-user="{{ this.id }}">
                        <i class="fas fa-crop-alt"></i>
                    </button>
                </div>
                <p class="notes">{{localize 'FALEMOS.CaptureCurrentCameraPositionsNotes'}}</p>
            </div>
            
            <div class="form-group">
                <label>{{localize "FALEMOS.CameraOverlayText"}}</label>
                <div class="form-fields">
                    {{filePicker target=(concat3 'flags.falemos.config.' this.id '.overlayImg') type="imagevideo"}}
                    <input class="image" type="text" name="flags.falemos.config.{{ this.id }}.overlayImg" placeholder="{{localize 'File Path'}}" value="{{lookupProp ../falemosconfig this.id 'overlayImg'}}"/>
                </div>
                    <p class="notes">{{localize "FALEMOS.CameraOverlayNotes"}}</p>
            </div>
            
            <div class="form-group initial-position">
                <label>{{localize 'FALEMOS.OverlayOffsetText'}}</label>
                <div class="form-fields">
                    <label>{{localize 'FALEMOS.Left'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.overlayLeft" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'overlayLeft'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.Right'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.overlayRight" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'overlayRight'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.Top'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.overlayTop" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'overlayTop'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.Bottom'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.overlayBottom" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'overlayBottom'}}" data-dtype="Number" data-user="{{ this.id }}">
                </div>
                <p class="notes">{{localize 'FALEMOS.OverlayOffsetNotes'}}</p>
            </div>
            
            
            
            
            <div class="form-group">
                <label>{{localize 'FALEMOS.CameraGeometryText'}}</label>
                <select name="flags.falemos.config.{{ this.id }}.geometry" data-dtype="String">
                {{#select (lookupProp ../falemosconfig this._id 'geometry') }}
                    {{#each ../falemos.cameraGeometry }}
                        <option value="{{@key}}">{{localize this.name}}</option>
                    {{/each}}
                {{/select}}
                </select>
                <p class="notes">{{localize 'FALEMOS.CameraGeometryNotes'}}</p>
            </div>
            
            <div class="form-group">
                <label>{{localize 'FALEMOS.CameraEffectText'}}</label>
                <select name="flags.falemos.config.{{ this.id }}.filter" data-dtype="String">
                {{#select (lookupProp ../falemosconfig this.id 'filter') }}
                    {{#each ../falemos.cameraEffects }}
                        <option value="{{@key}}">{{localize this.name}}</option>
                    {{/each}}
                {{/select}}
                </select>
                <p class="notes">{{localize 'FALEMOS.CameraEffectNotes'}}</p>
            </div>
            
        <!--    <div class="form-group">
                <label>{{localize 'FALEMOS.CameraNameColorText'}}</label>
                <input type="color" name="flags.falemos.config.{{ this.id }}.nameColor" name="favcolor" value="{{lookupProp ../falemosconfig this.id 'nameColor'}}" />
            </div>-->
            <div class="form-group initial-position">
                <label>{{localize 'FALEMOS.CameraNameColorText'}}</label>
                <div class="form-fields">
                    <label>{{localize 'FALEMOS.CameraName'}}</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.cameraName" placeholder="name" value="{{lookupProp ../falemosconfig this.id 'cameraName'}}" data-dtype="string" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.CameraNameOffsetX'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.cameraNameOffsetX" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'cameraNameOffsetX'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.CameraNameOffsetY'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.cameraNameOffsetY" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'cameraNameOffsetY'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.CameraNameFontSize'}} (%)</label>
                    <input type="text" name="flags.falemos.config.{{ this.id }}.cameraNameFontSize" placeholder="0" value="{{lookupProp ../falemosconfig this.id 'cameraNameFontSize'}}" data-dtype="Number" data-user="{{ this.id }}">
                    <label>{{localize 'FALEMOS.CameraNameColor'}}</label>
                    <input type="color" name="flags.falemos.config.{{ this.id }}.cameraNameColor" value="{{lookupProp ../falemosconfig this.id 'cameraNameColor'}}" data-user="{{ this.id }}">
                </div>
                <p class="notes">{{localize 'FALEMOS.CameraNameColorNotes'}}</p>
            </div>
            <div class="form-group">
                <label>{{localize 'FALEMOS.CameraNameFontText'}}</label>
                <input type="string" name="flags.falemos.config.{{ this.id }}.cameraNameFont" value="{{lookupProp ../falemosconfig this.id 'cameraNameFont'}}" />
                <p class="notes">{{localize 'FALEMOS.CameraNameFontNotes'}}</p>
            </div>
            
            <div class="form-group">
                <label>{{localize 'FALEMOS.SceneFitText'}}</label>
                <select name="flags.falemos.config.{{ this.id }}.fit" data-dtype="String">
                {{#select (lookupProp ../falemosconfig this.id 'fit') }}
                    {{#each ../falemos.sceneFit }}
                        <option value="{{@key}}">{{localize this.name}}</option>
                    {{/each}}
                {{/select}}
                </select>
                <p class="notes">{{localize 'FALEMOS.SceneFitNotes'}}</p>
            </div>    
            
            
        {{/each}}
        </div>
</div>
